<mat-nav-list><mat-toolbar class="mat-elevation-z2">
  <form>
    <mat-form-field [floatLabel]="'never'">
      <input matInput placehold="Search">
      <mat-placeholder>
        <mat-icon>search</mat-icon>
        {{ browser.i18n.getMessage("popup_menu_search_prompt") }}
      </mat-placeholder>
    </mat-form-field>
  </form>
</mat-toolbar>
  <a mat-list-item (click)="openVault()">
    <img matListIcon src="/img/vault.svg" width="24" height="24"/>
    <p matLine>{{ browser.i18n.getMessage("popup_menu_open_vault") }}</p>
  </a>
  <a mat-list-item [routerLink]="['generate-password']">
    <img matListIcon src="/img/gen-password.svg" width="24" height="24"/>
    <p matLine>{{ browser.i18n.getMessage("popup_menu_generate_password") }}</p>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item *ngIf="isMasterPasswordValid">
    <p matLine>Already logged in</p>
  </a>
  <a mat-list-item *ngIf="!isMasterPasswordValid" [routerLink]="['enter-master-password']">
    <p matLine>Decrypt sites</p>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item><p matLine>{{ browser.i18n.getMessage("popup_menu_preferences") }}</p></a>
  <a mat-list-item><p matLine>{{ browser.i18n.getMessage("popup_menu_help") }}</p></a>
</mat-nav-list>
